.idbox{
    background: #fff;
    border: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 8px;
}
input{
    border-style: dashed;
}

.btn{
    padding: .2rem .4rem;
}

.spacer{
    height: 1rem;
}

#title1{
    margin: auto;  
    color: #3b4954;
    /* height: 100px; */
    padding: 30px 0px 30px 0px;  
}

#title2{
    margin: auto;  
    color: #3b4954;
    padding: 10px 0px 10px 0px;
}

button{
    margin: auto;
    padding: 5px;    
}

p{
    border-style: solid;
    border-width: 1px;
    border: lightgrey;
    height: 60px;
    width: 90%;
    text-align: center;
    margin: auto;
}

/* styles for screens smaller than 769px */
@media screen and (max-width: 768px) {
    
    h1{
        padding: 10px 0px 10px 0px; 
        font-size: 1.25rem;
    }
    #titlerow{
        height: 70px;
    }
    h3{
        font-size: 1rem;
    }
}